---
layout: page
title: Masayuki Higashino
---
{% include JB/setup %}

<div class="row-fluid">

  <div class="span6">
    <h2> &raquo; NEWS</h2>
    <ul class="posts">
      <li> <span class="label label-default">New</span> <span>2013年09月19日</span> &raquo; <a href="http://jaws-web.org/event/jaws2013/">JAWS2013</a>での論文「GAPを用いたキャッシュによるエージェントの同時集中移動時における通信量の削減」でIEEE Computer Society Japan Chapter JAWS Young Researcher Awardを受賞しました。</li>
      <li> <span class="label label-default">New</span> <span>2013年09月16日</span> &raquo; 2013年9月17日〜20日に和歌山県で開催される<a href="http://jaws-web.org/event/jaws2013/">JAWS2013</a>に参加します。</li>
    </ul>
  </div>

  <div class="span6">
    <h2> &raquo; BLOG</h2>
      <ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>


<div class="thumbnail">
  <img src="/images/2013071163711.jpg" alt="2013年7月、湖山池にて。"/>
  <div class="caption">
    <p>2013年7月、鳥取市の湖山池にて。</p></div>
</div>




